<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Display filters</h1>
        <h1>{{data}}</h1>
        <h2>{{data|lower}}</h2>
        <h2>{{data|upper}}</h2>
        <h2>{{data|capfirst}}</h2>
        <h2>{{data|title}}</h2>
        <h2>{{data|length}}</h2>
        <h1>{{data|truncatechars:'5'}}</h1>
        <h2>{{da}}</h2>
        <h1>{{da|date:'F Y D'}}</h1>
        <h1>I have {{c}} cat{{c|pluralize}}</h1>
        <h1>I have {{c}} mango{{c|pluralize:'es'}}</h1>
        <h1>{{data|slice:'6'}}</h1>
        <h1>{{da|date:'Y'}}</h1>
        <h1>{{da|date:'F'}}</h1>
        <h1>{{da|date:'D '}}</h1>
        <h1>These {{c}}file{{c|pluralize}} {{c|pluralize:'is,are'}} mine</h1>


        
        <h1></h1>
    </center>
</body>
</html>